.musicBar {
  @bg: var(--mui-palette-AppBar-defaultBg);
  position: fixed;
  display: flex;
  align-items: center;
  height: var(--media-bar-height);
  inset-inline-start: calc(var(--side-bar-width) + 32px);
  inset-inline-end: 32px;
  transition: inset-inline-start calc(var(--duration) * 250ms) ease-in-out;
  border: 1px solid var(--mui-palette-divider);
  border-radius: var(--media-bar-height);
  box-sizing: border-box;
  box-shadow: var(--mui-shadows-2);
  background-color: @bg;
  background-image: var(--mui-overlays-24);
  overflow: clip;

  @media (max-width: 768px) {
    inset-inline-start: 8px;
    inset-inline-end: 8px;
  }

  :global(.advanced-material) & {
    background-color: color-mix(in oklch, @bg, transparent 40%);
    backdrop-filter: saturate(220%) blur(16px);
  }

  .coverWrapper {
    @d: calc(var(--media-bar-height) - 16px);
    padding: 6px;
    display: flex;
    justify-content: center;
    opacity: 1;
    margin-inline-end: 4px;
    @trans: 250ms ease-in-out;
    transition:
      margin-inline-end @trans,
      opacity @trans;

    @media (max-width: 425px) {
      margin-inline-end: calc(-1 * var(--media-bar-height) + 8px);
      opacity: 0;
      visibility: hidden;

      & .cover {
        animation: none;
      }
    }

    .cover {
      width: @d;
      height: @d;
      border-radius: @d !important;
      overflow: clip;
      background-color: var(--mui-palette-background-default);
      box-shadow: var(--mui-shadows-2);
    }
  }

  .mid {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: calc(100% - 200px);
    align-items: center;

    @media (max-width: 425px) {
      max-width: calc(100% - 104px);
    }

    .meta {
      width: calc(100% - 110px);
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      gap: 8px;

      & > button:first-child > span:first-child {
        font-weight: 600;
      }

      button {
        flex: 0 1 auto;
        min-width: 0;
        max-width: 50%;
        padding: 1px 5px;
        font-size: 1rem;
        line-height: 1.2rem;
      }

      .info {
        flex: 1;
        min-width: 0;
        max-width: 50%;
        color: var(--mui-palette-text-secondary);
        display: flex;
        align-items: baseline;
        justify-content: end;
      }
    }

    .progress {
      display: flex;
      gap: 12px;
      width: 100%;
      align-items: center;

      & > div:first-child {
        min-width: 48px;
        text-align: end;
      }

      .slider {
        width: 100%;
      }

      & > div:last-child {
        min-width: 48px;
        text-align: start;
      }
    }

    .btns {
      display: flex;
      justify-content: center;
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    margin-inline-end: 4px;

    div {
      display: flex;
      justify-content: start;

      button {
        padding: 4px;
      }
    }
  }

  .pageEnter {
    opacity: 0;
    transform: scale(0.8);
    transition: calc(var(--duration) * 250ms) ease-out;
  }

  .pageEnterActive {
    opacity: 1;
    transform: scale(1);
  }

  .pageExit {
    opacity: 1;
    transform: scale(1);
    transition: calc(var(--duration) * 250ms) ease-in;
  }

  .pageExitActive {
    opacity: 0;
    transform: scale(0.8);
  }

  .rotate {
    animation: spin 12s linear infinite;

    @keyframes spin {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }
}
