.container {
  display: flex;
  gap: 16px;
  height: 300px;

  .left {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1;

    .list {
      overflow: auto;
      max-height: 100%;
    }
  }

  .right {
    flex: 1;

    strong {
      line-height: 32px;
    }

    .desc {
      white-space: pre-wrap;
      user-select: text;
      cursor: text;
      max-width: 180px;
      max-height: 6em;
      overflow: auto;
      display: inline-block;
    }
  }
}
