.home {
  display: grid;
  align-content: center;
  justify-content: center;
  height: 100%;

  .title {
    font-size: 32px;
    margin-bottom: 32px;
    text-shadow: 1px 1px 4px var(--mui-palette-primary-contrastText);
  }

  .btnRow {
    width: fit-content;
    display: flex;
    gap: 16px;

    .btn {
      @bgcolor: var(--mui-palette-Button-inheritContainedBg);
      @hoverBg: var(--mui-palette-Button-inheritContainedHoverBg);
      background: @bgcolor;
      box-shadow: var(--mui-shadows-2);
      width: 128px;
      height: 128px;

      &:hover {
        background: @hoverBg;
      }

      :global(.advanced-material) & {
        background: color-mix(in oklch, @bgcolor, transparent 40%);
        backdrop-filter: saturate(220%) blur(16px);

        &:hover {
          background: color-mix(in oklch, @hoverBg, transparent 40%);
        }
      }

      & > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;

        svg {
          font-size: 64px;
        }
      }
    }
  }
}
