.playPage {
  width: 100%;
  height: 100%;
  background-color: var(--mui-palette-background-default);
  overflow: clip;

  .header {
    width: 100%;
    height: var(--title-bar-height);
  }
}

.hideLogo :global {
  #root > header {
    opacity: 0;
  }
}
