@input-width: 200px;

:global(#root) .titleBar {
  width: 100%;
  height: var(--title-bar-height);
  display: flex;
  align-items: center;
  justify-content: space-between;

  // 使其他组件需要隐藏标题栏时有动画
  transition: opacity calc(var(--duration) * 225ms) cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;

  .leftPart {
    z-index: 20000;
    display: flex;
    align-items: center;
    gap: 8px;
    @w: calc(var(--side-bar-width) - 16px);
    min-width: @w;
    max-width: @w;
    padding-inline-start: 12px;
    pointer-events: none;
    @trans: calc(var(--duration) * 250ms) ease-in-out;
    transition:
      min-width @trans,
      max-width @trans,
      opacity @trans;
    white-space: nowrap;
    opacity: 1;

    svg {
      min-width: 1.5rem;
      height: 1.5rem;
    }

    @media (max-width: 768px) {
      min-width: 0;
      max-width: 0;
      opacity: 0;
      padding: 0;
      visibility: hidden;
    }
  }

  .midPart {
    width: 100%;
    height: var(--title-bar-height);
    display: flex;
    align-items: center;

    .search {
      margin-inline-start: 8px;
      height: fit-content;
      padding-inline-start: 4px;
      max-width: @input-width;

      & > * {
        padding: 4px;
      }

      @media (max-width: 768px) {
        display: none;
      }
    }

    .menuBtn {
      margin-inline-start: 4px;
      z-index: 1200;
    }

    .browserBtn {
      html[dir='rtl'] & {
        transform: scaleX(-1);
      }
    }

    .extraBtn {
      display: none;

      @media (max-width: 768px) {
        display: inherit;
      }
    }
  }

  .rightPart {
    display: flex;

    .miniWindow {
      &Segoe {
        font-family: 'Segoe Fluent Icons', 'Segoe MDL2 Assets' !important;
        font-size: 1rem;

        &Sharp {
          font-family: 'Segoe MDL2 Assets' !important;
        }
      }

      svg {
        vertical-align: middle;
      }
    }
  }

  :global(.PrivateSwipeArea-root) {
    display: none;

    @media (max-width: 768px) {
      display: inherit;
    }
  }
}

.navigator {
  width: var(--side-bar-width);
}

.popover {
  padding: 8px;
  width: @input-width;
}
