.sideBar {
  min-width: var(--side-bar-width);
  max-width: var(--side-bar-width);
  overflow: clip auto;
  transition: calc(var(--duration) * 250ms) ease-in-out;
  white-space: nowrap;
  opacity: 1;

  @media (max-width: 768px) {
    max-width: 0;
    min-width: 0;
    opacity: 0;
    visibility: hidden;
  }
}
