.settingsDrawer {
  width: 300px;
  height: 100%;
  overflow: clip;
  display: flex;
  flex-direction: column;

  .topBar {
    padding: 16px;

    .search :global {
      .MuiInputBase-root {
        padding-left: 0 !important;
        padding-right: 0 !important;
      }

      .MuiAutocomplete-endAdornment {
        display: none;
      }
    }
  }

  .container {
    overflow: auto;
    flex: 1;
    padding: 16px;
    display: flex;
    flex-direction: column;

    &:global > .MuiFormLabel-colorPrimary {
      color: var(--mui-palette-text-primary);
    }

    &:global > .MuiTypography-h6:not(:first-child) {
      margin-top: 24px;
    }

    &:global > .MuiTypography-subtitle1 {
      margin-top: 8px;
      font-weight: 600;

      & + label {
        margin-top: 0;
      }
    }

    & > label {
      display: inline-flex;
      margin-top: 8px;
    }

    & > button {
      width: fit-content;
    }

    .path {
      color: var(--mui-palette-text-secondary);
      overflow: clip;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .textWithIcon {
      display: flex;
      align-items: center;
      gap: 8px;
    }

    .btns {
      margin-top: 16px;
      display: flex;
      flex-direction: column;
      gap: 16px;
      width: fit-content;
    }

    .script textarea {
      font-family: consolas, monospace !important;
    }
  }
}
