.dialogTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;

  .actions {
    display: flex;
    gap: 4px;
    margin-inline-end: -16px;
  }
}

.dialogContent {
  width: calc(100% - 48px);
  max-height: calc(100vh - 192px);
  padding: 20px 24px;
}
